body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f9f9f9;
  margin-top: 100px;
}
h1 { color: #007acc; }
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f9f9f9;
  margin-top: 100px;
}
h1 { color: #007acc; }
